body {
  font-family: sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

form {
  max-width: 400px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

input,
button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
